* {
  font-family: 'Raleway', sans-serif;
}

button {
  border-radius: 8px;
}

.background {

  background-color: #879EB2;
}

@media only screen and (min-width: 1200px ){
  html {
    height: 100%;
  }

}

header h1 {
  margin-left: 150px;
  padding-top: 10px;
}

div.container.welcome.row {
  width: 100%;
  margin: 0px;
}

.col-sm-12 {
  text-align: center;
}

.welcome {}

form.form-signin {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/**********TABLE**********/

td {
  vertical-align: middle;
  vertical-align: middle !important;
}

tr {
  border-radius: 8px;
}

table.requests, th, tr, td {
  border: 1px solid black !important;
}

table.requests, tr, td {
  word-wrap: break-word;
  margin: 0 auto;
  width: 1000px;
  table-layout: fixed;
}

table.requests tr:nth-child(even) {
  background-color: #dddddd;
  padding: 12px;
}

table.requests tr td {
  border: 1px solid black;
  width: 50px;
  padding: 12px;
}

table.requests tr th {
  text-align: center;
}

table.requests td input {
  width: 100px;
}

table.requests td input:focus {
  width: 200px;
}

table.requests td input.requestDeleteCheck {
  width: 15px;
}

table.requests td input.ordered {
  width: 20px;
}

.highlight {
  background-color: lightblue !important;
}

table.requests .userRequests td input.requestDeleteCheck, table.requests .userRequests td input.ordered {
  width: 15px;
  height: 15px;
}

form.orderedRequests {
  margin-top: 20px !important;
}

.requestIndex {
  margin-top: 100px;
  margin-bottom: 100px;
}

.completedRequests {
  margin-top: 50px;
}

/********SignUp*********/

#signup {}

hr {
  width: 20%;
}

/********Landing*******/

div.container.welcome {
  opacity: 1;
}

header {
  height: 75px;
  background-color: #FF953F;
}

header a {
  text-decoration: none !important;
  color: inherit;
}

.landing {
  margin-top: 200px;
}

/*******SignupPage*****/

.signupPage {
  margin-top: 100px;
}

/*******Profile*******/

#profile-card {
  border: 1px solid #4B4B4B;
  border-radius: 8px;

}

#profile-card .col-sm-6 {
  padding: 20px;
}

.profile {
  margin-top: 150px;
}

@media only screen and (min-width: 750px) {
    #profile-card {
      width: 600px;
      margin: 0 auto;
    }
}

/*********Login********/

#loginButton {
  border-bottom: 1px solid black;
}

.loginPage {
  margin-top: 100px;
}

/********Requests*******/

.requests, .newRequests, .editRequests {
  margin-top: 100px;
}

/*********Buttons***********/

input#deleteForm, input#newForm, input#cancelForm, button#addLine {
  margin-bottom: 25px;
}
form#orderedRequests{
  margin-top:22px;
}

#flashMessageContainer {
	height: 75px;
}