{% extends './layout.html' %}

{% block content %}
<div class="container loginPage">
  <form class="form-signin" action="/login" method="post">
    <h2 class="form-signin-heading">
      Sign In</h2>
    <label for="inputEmail" class="sr-only">
      address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus><br>
    <label for="inputPassword" class="sr-only">Please Email Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input name="remember_me" type="checkbox" value="remember-me">
        Remember me
      </label>
      <label>
        <input id="guestBox" name="guest" type="checkbox" value="Guest">
        Login as Guest
      </label>
    </div>
    <input id="loginButton" class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
  </form>

  <p>
    <small>Need an account?
      <a href="{{ url_for('signup')}}">
        <strong>Sign Up</strong>
      </a>
    </small>
  </p>

</div>
{% endblock content %}